.char-list__item {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, .25);
  font-size: 18px;
  transition: transform .3s ease-in-out;

  &-selected {
    box-shadow: 0 5px 20px #9F0013;
    transform: translateY(-8px);
    transition: transform .3s ease-in-out;
  }

  &__image {
    height: 220px;
    width: 100%;
  }

  &__container {
    color: white;
    background-color: rgba(35, 34, 34, 1);
    height: 100px;
  }

  &__title {
    padding: 20px;
  }

  &__info {
    display: none;
  }
}


@media (max-width: 1024px) {
  .char-list__item {

    &__image {
      height: 260px;
    }
  }
}

@media (max-width: 500px) {
  .char-list__item {

    &__image {
      height: auto;
    }
  }
  .char-list__item__info {
    display: block;
    padding: 10px;

    &__button {
      margin-top: 10px;
      position: relative;
      padding: 10px;
      color: white;
      font-size: 14px;

      a {
        text-decoration: none;
        color: white;
      }

      &-homepage {
        margin-right: 20px;
        background-color: rgba(159, 0, 19, 1);
      }

      &-wiki {
        background-color: rgba(92, 92, 92, 1);
      }
    }

    &__comics-title {
      font-weight: 700;
      margin-top: 5px;
      margin-bottom: 5px;
      font-size: 18px;
    }

    &__comics__list {
      &__item {
        padding: 10px;
        margin-bottom: 10px;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, .25);
      }
    }

  }
}