.header {
    margin-top: 20px;
    font-family: "Roboto", sans-serif;
    padding: 0 200px;
    font-size: 22px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    &__title {
        font-weight: 700;
        align-self: center;
        &-red {
            color: red;
        }
    }
}

@media (max-width: 1250px) {
    .header {
        padding: 0px 100px;
    }
}

@media (max-width: 1024px) {
    .header {
        padding: 0px 80px;
    }
}

@media (max-width: 768px) {
    .header {
        padding: 0px 40px;
        &__title {
            font-size: 18px;
        }
    }
}

@media (max-width: 500px) {
    .header {
        padding: 0px 20px;
        &__title {
            font-size: 16px;
        }
    }
}

@media (max-width: 320px) {
    .header {
        padding: 0px 10px;
        &__title {
            font-size: 14px;
        }
    }
}
